data/processed/
data/intermediate/
predictions/
__pycache__
experiments/wandb/
.DS_Store

# runs/
# wandb/
runs_old/
wandb_old/
*.ipynb
old_scripts/
runs/
experiments_copy/
experiments_before_final/

data/processed_example/

storm_*.json

!notebooks/storm_animation.ipynb
!notebooks/ground_clutter.ipynb

#!experiments/runs/storm_*.jsondata/processed_example/

