data/processed/
data/intermediate/
predictions/
__pycache__/
experiments/wandb/

# runs/
# wandb/
data/processed_1/
runs_old/
wandb_old/
*.ipynb
old_scripts/
runs/

storm_*.json

!notebooks/*.ipynb
!experiments/runs/storm_*.json